
@{
    ViewData["Title"] = "AboutUs";
}
<div class="collection-wrapper">
    <div class="container">
        <div class="row">
            <div class="col col-6">
                <img width="100" height="100" src="~/assets/images/favicon/9.png" />
            </div>
            
            <div style="font-size:30px" class="col col-6">
                We are a new brand in the Egyptian market.
                <br />
                We will offer you the best designs and high materials at the lowest prices.
                <br />
                We hope to meet your expectations. Thank you for visiting our website.
            </div>
        </div>
    </div>
</div>