
@{
    ViewData["Title"] = "ContantUs";
}

<div class="collection-wrapper">
    <div class="container">
        <div class="row">

            <div style="font-size:30px" class="col col-6">
               
                <p>Whatsapp : 01092097939</p>
                <p>Email : mohammedahmed258199@@gmail.com</p>
            </div>
        </div>
    </div>
</div>